{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tag-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <!--Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script> -->


</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid d-flex flex-row justify-content-between align-items-center">
            <span class="navbar-brand mb-0 h1">Bench</span>
            <!-- <span class="navbar-brand mb-0 h5">Manage Employees</span> -->
            <a href="{% url 'Bench:manage_emp' %}" class="btn text-black" style="background-color: rgb(214, 216, 83); font-weight: bold">
          Manage Employees
        </a>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script> -->
    <script>
        $(document).ready(function() {
            dataTable = $("#example").DataTable({
                lengthChange: true,
                buttons: ["copy", {
                    extend: 'csv',
                    footer: true,
                    title: 'Employes Report',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }

                }, {
                    extend: 'excel',
                    footer: true,
                    title: 'Employes Report',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }],

            });
            dataTable
                .buttons()
                .container()
                .appendTo("#example_wrapper .col-md-6:eq(0)");


            /*dataTable.columns().every( function () {
                var that = this;
         
                $('input', this.footer()).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that.search(this.value).draw();
                    }
                });
              });*/


            $('.filter-checkbox-tl').on('change', function(e) {
                var searchTerms = []
                $.each($('.filter-checkbox-tl'), function(i, elem) {
                    if ($(elem).prop('checked')) {
                        searchTerms.push("^" + $(this).val() + "$")
                    }
                })
                dataTable.column(1).search(searchTerms.join('|'), true, false, true).draw();
            });
            $('.filter-checkbox-resource').on('change', function(e) {
                var searchTermsResource = []
                $.each($('.filter-checkbox-resource'), function(i, elem) {
                    if ($(elem).prop('checked')) {
                        searchTermsResource.push("^" + $(this).val() + "$")
                    }
                })
                dataTable.column(6).search(searchTermsResource.join('|'), true, false, true).draw();
            });

            $('.filter-checkbox-designation').on('change', function(e) {
                var searchTermsdesigntion = []
                $.each($('.filter-checkbox-designation'), function(i, elem) {
                    if ($(elem).prop('checked')) {
                        searchTermsdesigntion.push("^" + $(this).val() + "$")
                    }
                })
                dataTable.column(3).search(searchTermsdesigntion.join('|'), true, false, true).draw();
            });
            $('.filter-checkbox-stack').on('change', function(e) {
                var searchTermStack = []
                $.each($('.filter-checkbox-stack'), function(i, elem) {
                    if ($(elem).prop('checked')) {
                        searchTermStack.push("^" + $(this).val() + "$")
                    }
                })
                dataTable.column(5).search(searchTermStack.join('|'), true, false, true).draw();
            });
            $('.status-dropdown').on('change', function(e) {
                var status = $(this).val();
                $('.status-dropdown').val(status)
                console.log(status)
                    //dataTable.column(6).search('\\s' + status + '\\s', true, false, true).draw();
                dataTable.column(7).search(status).draw();
            })
        });
    </script>
</body>

</html>
<style>
    p {
        margin-bottom: 0px !important;
    }
</style>